{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('login') }}" class="container">
        {{form.hidden_tag()}}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"  name="username"
                   required placeholder="Enter email">
            {% for error in form.password.errors %}
                <small class="form-text text-muted">[{{error}}]</small>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                   required placeholder="Password">
            {% for error in form.password.errors %}
                <small class="form-text text-muted">[{{error}}]</small>
            {% endfor %}
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" value="y">
            <label class="form-check-label" for="remember_me">Remember me</label>
        </div>
        <input id="submit" name="submit" type="submit" value="Sign In" class="btn btn-primary">
        <a href="{{ url_for('register') }}" class="btn btn-primary">Registration</a>
    </form>
{% endblock %}